html {
  box-sizing: border-box;
  background: #a7c4bc;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  width: 1000px;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fHdlYiUyMGRlc2lnbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60) rgba(0, 0, 0, 0.1) bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 4vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}

h3 {
  text-align: center;
  color: #2f5d62;
  font-size: 2rem;
}

h2 {
  text-align: center;
  color: #2f5d62;
}

p {
  color: #2f5d62;
  font-weight: 300;
}

/*-----------------------------------------------*/

/* Navbar */


/* Card Contents */
.card-product {
  overflow: hidden;
  height: 350px;
  width: 600px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.card-product h2 {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

/* img */
img {
  width: 350px;
  height: 350px;
}

/* button */
button {
  text-transform: uppercase;
  padding: 14px;
  border: none;
  background: #2f5d62;
  color: #edf2f4;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 16px;
  font-weight: bold;
}

button:hover {
  background: #edf2f4;
  color: #2f5d62;
  transition: .3s;
}

.btn-color:hover {
  background-color: #5e8b7e;
  color: #edf2f4;
}

.align-section {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  flex: 0 0 50%;
}

/* background-section */
.background-color {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 24px;
  margin: 24px;
}

input {
  width: 400px;
  outline: none;
  color:  #2f5d62;
  border: none;
  padding: 8px;
  margin: 6px;
  opacity: .7;
}

textarea {
  width: 400px;
  outline: none;
  border: none;
  opacity: .7;
}

/* footer */
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.form-align {
  text-align: center;
  width: 500px;
  height: 300px;
  background: linear-gradient(#2f5d62, #a7c4bc);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 40px;
  margin-left: 500px;
}

label {
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: #2f5d62;
}

.footer .fa-heart {
  color: #2f5d62;
}

/*------------------------------------------------------------------------------*/

/* css for popup */

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #a7c4bc;
  color: #2f5d62;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*------------------------------------------------------------------------------*/

/* knowledge breaker */
.container-quote {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  background-color:  rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  margin: 36px;
  text-align: center;
}

.align-center {
  display: flex;
  justify-content: center;
}

.text-quote {
  font-size: 2.70rem;
}

.long-quote {
  font-size: 2rem;
}

.author-quote {
  margin-top: 14px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.twitter-button {
  display: flex;
  justify-content: space-between;
}

.twitter-button:hover {
  color: #2f5d62;
}

.fa-twitter {
  font-size: 1.5rem;
}

/* Loader */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* media queries */

@media(min-width: 721px) {
  nav {
  background: black;
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

 .checkbox-toggle {
   display: none;
 }

 body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo:hover {
  cursor: pointer;
  color: #2f5d62;
}

.fixed-nav li.logo {
  max-width: 500px;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.3s;
  text-transform: uppercase;
}

nav a:hover {
  background: #2f5d62;
  border-radius: 5px;
}

}

@media (max-width: 720px) {
  /* For a screen < 720px */

  .container-quote {

    padding: 24px;
    margin-right: 8px auto;

  }

  .card-product img {
    height: 70%;
    width: 150px;
  }

  nav ul li {
    list-style: none;
    font-size: 16px;
  }

  nav ul li a{
    font-size: 30px;
    padding: 8px;
  }

  .site-wrap {

    width: 600px;
  }

  footer {
    width: 600px;
    height: 400px;
  }

}

@media (max-width: 540px) {
  /* For a screen < 540px */
  img {

    display: none;
  }

  .site-wrap {

   width: 460px;
 }

 .align-section {
    flex-direction: column;

 }

 .container-quote {

    padding: 24px;
    margin: 0 8px;

  }

  .text-quote {

    font-size: 2rem;

  }

  .card-product {
    margin-right: 44px;
    width: 350px;
    height: 350px;

  }

  .card-product-infos {

    margin: 0 32px;
    padding: 16px;

  }

  h1, h2 {

    font-size: 1.5rem;

  }

  h3 {
    font-size: 20px;
  }

  nav ul li {
    font-size: 16px;
  }

  .align-contact {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  .form-align {
    margin: 36px 8px;
  }

  /*for hamburger menu*/

  @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}

  .flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}


.outer-menu {
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 1;
}
.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5em 1em;
  background: rgb(47,93,98);
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #FEFEFE;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #FEFEFE;
  background: radial-gradient(circle, rgba(47,93,98,1) 0%, rgba(94,139,126,1) 43%, rgba(167,196,188,1) 94%);
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}

}





