html {
  box-sizing: border-box;
  background: #a7c4bc;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  width: 1000px;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height: 50vh;
  background: url(https://images.pexels.com/photos/3691227/pexels-photo-3691227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) rgba(255, 255, 255, 0.4) bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 4vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

nav {
  background: black;
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo:hover {
  cursor: pointer;
  color: #2f5d62;
}

.fixed-nav li.logo {
  max-width: 500px;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.3s;
  text-transform: uppercase;
}

nav a:hover {
  background: #2f5d62;
  border-radius: 5px;
}

.card-product {
  overflow: hidden;
  height: 350px;
  width: 600px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.card-product h2 {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

img {
  width: 400px;
  height: 400px;
}

button {
  text-transform: uppercase;
  padding: 14px;
  border: none;
  background: #2f5d62;
  color: #edf2f4;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 16px;
  font-weight: bold;
}

button:hover {
  background: #edf2f4;
  color: #2f5d62;
  transition: .3s;
}

.btn-color:hover {
  background-color: #5e8b7e;
  color: #edf2f4;
}

.align-section {
  display: flex;
  justify-content: space-evenly;
  padding: 28px;
  flex: 0 0 50%;
}

.background-color {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 16px;
  margin: 24px;
}

input {
  width: 400px;
  outline: none;
  color:  #2f5d62;
  border: none;
  padding: 8px;
  margin: 6px;
  opacity: .7;
}

textarea {
  width: 400px;
  outline: none;
  border: none;
  opacity: .7;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.form-align {
  text-align: center;
  width: 500px;
  height: 300px;
  background: rgba(47, 93, 98, 1.0);
  padding: 16px;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin-left: 500px;
  margin-bottom: 40px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #2f5d62;
}
.footer .fa-heart {
  color: #2f5d62;
}
